.item {
  margin: 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
}

.text {
  margin: 0 8px;
  text-align: left;
  word-wrap: break-word;
}

.checked {
  text-decoration: line-through;
}
